.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%, 80px);
}
.navbar .profile{
    width: 40px;
}
.navbar .panel-decription {
    font-weight: bold;
    font-size:x-large;
}